body {
    background: #ccc;
    color: #333;
    padding: 20px;
    font-family: "Lato", sans-serif;
}

.qs {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

.iframe {
    background-color: #FAFDFD;
    width: 600px;
    height: 400px;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

.iframe .slide {
    display: none;
}

.iframe .slide:first-child {
    display: block;
}

/* Controls */
.controls {
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;

    bottom: 1rem;
    left: 0;
    position: fixed;
    width: 90%;
    margin: auto;
    right: 0;
}

.controls__index {
    margin-right: 10px;
}

.controls__wrapper {
    display: flex;
    align-items: center;
}

.controls__arrows {
    width: 65px;
    display: flex;
    justify-content: space-between;
}

.controls__arrow.disabled {
    opacity: .5;
    cursor: default;
}

.controls__arrows a {
    display: block;
}

.controls__arrows svg {
    width: 30px;
    height: 30px;
}

.controls__expand {
    margin-left: auto;
}

.controls__expand-inner {
    background-color: #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls__expand-inner svg {
    width: 10px;
    height: 10px;
}